.callouts { @include items; }

.callout { display: block; }

.callout.rule {
    border-bottom: 1px solid #dee0df;
    color: $color__salmon;
    text-align: center;
    font-family: $font_alt;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    margin: 60px 0;

    .text {
        position: relative;
        top: 9px;
        background: #fff;
        padding: 0 20px;
    }
}
