
// Colors //

$color__salmon:         #ff1e45;
$color__darker_salmon:  #ff1e45;
$color__faint:          #f0f2f1;
$color__gray:           #525252;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #dee0df;

// Fonts //

$font_serif:      'PT Serif', serif;
$font:            'Source Sans Pro', sans-serif;
